/* Reusable CSS variables */
:root {
  --size-s: 0.5rem; /* = 8px */
  --size-m: 1rem; /* = 16px */
  --size-l: 1.5rem; /* = 24px */
  --size-xl: 2rem; /* = 32 px */
  --size-xxl: 2.5rem; /* = 40 px */
}

/* Very basic HTML resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Futura, sans-serif;
  color: white;
}

body {
  height: 100vh;
  padding: 90px;
  font-size: var(--size-l);
}

/* Styling for chat box */
.chat-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc(100% / 3);
  height: 80%;
  padding: var(--size-xl);
  border-radius: 60px;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.9);
}

.chat-box p {
  margin-top: var(--size-m);
}

.chat-box p img {
  margin: -1rem 0;
  height: var(--size-xxl);
  vertical-align: middle;
}

/* Styling for chat strip */
.chat-strip {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--size-xxl);
  padding-right: var(--size-s);
  display: flex;
  justify-content: flex-end;
  line-height: var(--size-xxl);
  background-color: rgba(0, 0, 0, 0.9);
}

.chat-strip p {
  margin-left: var(--size-s);
  flex: 1 0 auto;
}

.chat-strip p img {
  height: var(--size-xl);
  vertical-align: middle;
}
